<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    
    <!-- AUTORITZACIÓ: Permitir accés públic a arxius estàtics -->
    <security>
      <authorization>
        <!-- El "?" significa "usuari anònim" - permet accés sense autenticació -->
        <add accessType="Allow" users="?" />
      </authorization>
    </security>

    <!-- Habilitar rewrite per a Azure -->
    <rewrite>
      <rules>
        <!-- Redirigir arrel a index.html -->
        <rule name="Root redirect" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="/index.html" redirectType="Temporary" />
        </rule>
        
        <rule name="Handle PHP files" stopProcessing="true">
          <match url=".*\.php$" />
          <action type="Rewrite" url="{R:0}" />
        </rule>
      </rules>
    </rewrite>

    <!-- Configuració d'errors personalitzats -->
    <httpErrors errorMode="Detailed" />
    
    <!-- Handlers per a PHP -->
    <handlers>
      <remove name="PHP_via_FastCGI" />
      <add name="PHP_via_FastCGI" 
           path="*.php" 
           verb="GET,HEAD,POST" 
           modules="FastCgiModule" 
           scriptProcessor="D:\Program Files\PHP\v8.0\php-cgi.exe" 
           resourceType="Either" 
           requireAccess="Script" />
    </handlers>

    <!-- Headers CORS -->
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>